<h1>Codeial / <%= title %></h1>
<form action="" method="post">
    <div class="w-80 border-2 m-auto shadow-xl rounded-md">
        <div class="flex-col">
            <input type="email" name="email" placeholder="yourname@example.com" class="border-2 block m-auto w-72 mb-2 mt-2 p-2 rounded">
            <input type="password" name="password" class="border-2 block m-auto w-72 mb-2 p-2 rounded">
        </div>

        <button class="rounded-md bg-blue-400 p-3 text-white ml-28 mt-5 mb-3">
            Sign In
        </button>
    </div>
</form>